---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, BASE_PATH } from '../consts';
---

<header>
  <nav class="flex bg-white justify-between p-4 items-center">
    <div><a href={`${BASE_PATH}`}>{SITE_TITLE}</a></div>
    <div class="internal-links">
      <HeaderLink href={`${BASE_PATH}`}>Home</HeaderLink>
      <HeaderLink href={`${BASE_PATH}/blog`}>Blog</HeaderLink>
      <HeaderLink href={`${BASE_PATH}/about`}>About</HeaderLink>
    </div>
  </nav>
</header>
